#canvas {
 background:url("character movement.png");
 background-repeat:repeat no-repeat;
 background-position:0px;
 background-size:15000px;
 animation: walk 1s steps(36) infinite;
 width:500px;
 height:325px;
 margin-top:150px;
 border-radius:5px;
 border:2px solid #ccc;
 box-shadow:0px 5px 10px 2px rgba(0, 0, 0, 0.5);
}
@keyframes walk {
 from{background-position:0px;}
 to{background-position:-14356px;}
}
.w-search {
 margin:15px;
 border-radius:2.5px;
 padding:7.5px;
 border:1px solid #ccc;
}
#add-w{
 width:30px;
 height:30px;
 border-radius:30px;
}
#woordjes-cvs {
 background-color:#efe;
 height:750px;
 width:400px;
 margin-top:50px;
 border-radius:5px;
}
